.container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../images/bg-login.png');
  background-attachment: fixed;
  background-size: contain;
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  min-width: 480px;
  height: fit-content;
  width: fit-content;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
}

.footer button {
  outline: none;
  border: none;
  background-color: #AA2B1D;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}

.footer button:disabled {
  background-color: gray !important;
}

.footer button:hover {
  background-color: #aa2aff;
}

.footer p {
  font-weight: 700;
  color: #000;
}

.footer p span a {
  font-weight: bold;
  color: #9900ff;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
}

/* Media Queries for Small and Medium Screens */
@media only screen and (max-width: 768px) {
  .innerBox {
    scale: 90%;
    width: 90%;
    min-width: auto;
  }
}

@media only screen and (max-width: 480px) {
  .innerBox {
    scale: 90%;
    width: 95%;
    min-width: auto;
    padding: 20px;
  }
}
